.heroMain {
    background-color: #04151F;
    height: 727px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 550px) {
    .heroMain {
        height: 550px;
    }
    
}